layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "{command_git_branch}"
                format_right "{datetime}"
                format_space ""

                command_git_branch_command     "bash -c 'git rev-parse --abbrev-ref HEAD 2>/dev/null'"
                command_git_branch_format      "#[fg=magenta,bold] {stdout}"
                command_git_branch_interval    "5"
                command_git_branch_rendermode  "static"

                datetime          "#[fg=white]{format}"
                datetime_format   "%H:%M"
                datetime_timezone "America/New_York"
            }
        }
    }
}
