<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headMouseExpressionConfiguration</key>
	<dict>
		<key>_facialExpressionToSensitivity</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGtCwwlJico
		KSorLC0uL1UkbnVsbNMNDg8QGiRXTlMua2V5c1pOUy5vYmplY3RzViRjbGFz
		c6kREhMUFRYXGBmAAoADgASABYAGgAeACIAJgAqpGxsbGxsbGxsbgAuAC4AL
		gAuAC4ALgAuAC4ALgAwUAAAAAAAAAAAAAAAAAAAACRQAAAAAAAAAAAAAAAAA
		AAAFFAAAAAAAAAAAAAAAAAAAAAEUAAAAAAAAAAAAAAAAAAAABhQAAAAAAAAA
		AAAAAAAAAAACFAAAAAAAAAAAAAAAAAAAAAcUAAAAAAAAAAAAAAAAAAAAAxQA
		AAAAAAAAAAAAAAAAAAAIFAAAAAAAAAAAAAAAAAAAAAQQAtIwMTIzWiRjbGFz
		c25hbWVYJGNsYXNzZXNcTlNEaWN0aW9uYXJ5ojI0WE5TT2JqZWN0AAgAEQAa
		ACQAKQAyADcASQBMAFEAUwBhAGcAbgB2AIEAiACSAJQAlgCYAJoAnACeAKAA
		ogCkAK4AsACyALQAtgC4ALoAvAC+AMAAwgDTAOQA9QEGARcBKAE5AUoBWwFd
		AWIBbQF2AYMBhgAAAAAAAAIBAAAAAAAAADUAAAAAAAAAAAAAAAAAAAGP
		</data>
	</dict>
</dict>
</plist>
