<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>882024635</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMIAAAAAQEAAEFwcHMuYXBw
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABcAAAD/
				//8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAAlQIAAP//
				/w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcdo
				+3QAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAJCClucAAAAkAAAAAQEAADBF
				RTZBOTI4LTY3MDgtNDJCMS04ODI5LTBEQTNDNzYzNkZG
				RhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
				AQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQ
				AACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAA
				AAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAAAQAA
				AAAAABIgAADwAAAAAAAAABMgAACcAAAAAAAAACAgAAAs
				AQAAAAAAADAgAABYAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.apps.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Apps.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Apps</string>
				<key>file-mod-date</key>
				<integer>3846664168</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3846664168</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2080605344</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAdgwAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcZzhmGAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADBFRTZBOTI4LTY3MDgt
				NDJCMS04ODI5LTBEQTNDNzYzNkZGRhgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Calendar</string>
				<key>file-mod-date</key>
				<integer>3814491587</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3814491587</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3121066010</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP///w8I
				AAAABAMAABcAAAD///8PCAAAAAQDAAAeVwAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxnOGYYAA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAAMEVFNkE5
				MjgtNjcwOC00MkIxLTg4MjktMERBM0M3NjM2RkZGGAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgA
				AAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAA
				ANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAA
				EiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAA
				AAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Settings.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Settings</string>
				<key>file-mod-date</key>
				<integer>3814491587</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3814491587</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>966306318</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABuqFsK
				AAAAAAgAAAAEAwAA6UcECgAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxnNU+QAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcaCHWWAAAAkAAAAAQEAADBFRTZB
				OTI4LTY3MDgtNDJCMS04ODI5LTBEQTNDNzYzNkZGRhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>184322337499699</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>49997240350311</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>26111162</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va/wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA+AEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAFAAAAAQEAAHR5bGVyAAAADAAA
				AAEBAABBcHBsaWNhdGlvbnMVAAAAAQEAAENocm9tZSBB
				cHBzLmxvY2FsaXplZAAAABMAAAABAQAAR29vZ2xlIENh
				bGVuZGFyLmFwcAAUAAAAAQYAABAAAAAgAAAAMAAAAEQA
				AABkAAAACAAAAAQDAAAVXQAAAAAAAAgAAAAEAwAArPQD
				AAAAAAAIAAAABAMAAJ5xFQAAAAAACAAAAAQDAACgcRUA
				AAAAAAgAAAAEAwAA9zR0EwAAAAAUAAAAAQYAAJwAAACs
				AAAAvAAAAMwAAADcAAAACAAAAAAEAABBx0Ft/xh0sxgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAIAAAAAAQAAEHHFbB+AAAAJAAAAAEB
				AAAwRUU2QTkyOC02NzA4LTQyQjEtODgyOS0wREEzQzc2
				MzZGRkYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
				AAAAAAAAABAAAAAEEAAAgAAAAAAAAAAFEAAA7AAAAAAA
				AAAQEAAAGAEAAAAAAABAEAAACAEAAAAAAAACIAAA5AEA
				AAAAAAAFIAAAVAEAAAAAAAAQIAAAZAEAAAAAAAARIAAA
				mAEAAAAAAAASIAAAeAEAAAAAAAATIAAAiAEAAAAAAAAg
				IAAAxAEAAAAAAAAwIAAA8AEAAAAAAAABwAAAOAEAAAAA
				AAARwAAAIAAAAAAAAAASwAAASAEAAAAAAAAQ0AAABAAA
				AAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome.app.kjbdgfilnfhdoflbpgamdcdgpehopbep</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/tyler/Applications/Chrome%20Apps.localized/Google%20Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Calendar</string>
				<key>file-mod-date</key>
				<integer>54025940129022</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>53785421960446</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>26111244</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxEAAAABAQAAQnJhdmUgQnJvd3Nlci5hcHAAAAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAADooHAVAAAAAAgAAAAE
				AwAAESFzFQAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABBx4b0Q4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAA
				BAAAQcdo1JqAAAAkAAAAAQEAADBFRTZBOTI4LTY3MDgt
				NDJCMS04ODI5LTBEQTNDNzYzNkZGRhgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABA
				AAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQ
				AACAAAAAAAAAAAIgAABAAQAAAAAAAAUgAACwAAAAAAAA
				ABAgAADAAAAAAAAAABEgAAD0AAAAAAAAABIgAADUAAAA
				AAAAABMgAADkAAAAAAAAACAgAAAgAQAAAAAAADAgAABM
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.brave.Browser</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Brave%20Browser.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Brave Browser</string>
				<key>file-mod-date</key>
				<integer>201231658920977</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>203164394204177</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3474318986</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxQAAAABAQAAaVBob25lIE1pcnJvcmluZy5hcHAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP///w8I
				AAAABAMAABcAAAD///8PCAAAAAQDAACZgQAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxnOGYYAA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAAMEVFNkE5
				MjgtNjcwOC00MkIxLTg4MjktMERBM0M3NjM2RkZGGAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgA
				AAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAA
				ANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAA
				EiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAA
				AAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.ScreenContinuity</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/iPhone%20Mirroring.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iPhone Mirroring</string>
				<key>file-mod-date</key>
				<integer>3814491587</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3814491587</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
</dict>
</plist>
