<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>widgets</key>
	<dict>
		<key>DesktopWidgetPlacementStorage</key>
		<data>
		YnBsaXN0MDDSAQIDBF8QFENvbXBhdGliaWxpdHlWZXJzaW9uXxAQTnVtYmVy
		ZWREaXNwbGF5cxQAAAAAAAAAAAAAAAAAAAABoQXSBgcICVZOdW1iZXJbUmVz
		b2x1dGlvbnMQAKEK0gsMDRBUU2l6ZVZHcm91cHOiDg8jQJegAAAAAAAjQI2o
		AAAAAAChEdISExQXVk9yaWdpblVJdGVtc6IVFiNAcCAAAAAAACNAIAAAAAAA
		AKMYIyjVGRobCxwdCB4fIlpJZGVudGlmaWVyVkNvbHVtblNSb3dWWk9yZGVy
		XxAkNjA0Q0QwQkMtODYzOC00OEUwLTg2NzgtMUM1QzgxNjRFRTY0EAHRICFW
		TWVkaXVt0BAD1RkaGwscJAgIJQhfECREQTJBODlCMi00MkUxLTQ5NzgtODVD
		MC05RUQ2REZERkI1NDnRJidVU21hbGzQ1RkaGwscKR4IKh5fECRCQkFBQTdB
		Mi1EM0MxLTRDRTUtQjg3Qy0xMTdEOUQwNTBDQjfRJivQAAgADQAkADcASABK
		AE8AVgBiAGQAZgBrAHAAdwB6AIMAjACOAJMAmgCgAKMArAC1ALkAxADPANYA
		2gDhAQgBCgENARQBFQEXASIBSQFMAVIBUwFeAYUBiAAAAAAAAAIBAAAAAAAA
		ACwAAAAAAAAAAAAAAAAAAAGJ
		</data>
		<key>instances</key>
		<array>
			<data>
			YnBsaXN0MDDSAQIDBFR1dWlkVndpZGdldF8QJERBMkE4OUIyLTQy
			RTEtNDk3OC04NUMwLTlFRDZERkRGQjU0OU8RAn9icGxpc3QwMNQB
			AgMEBQYHClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0
			cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QgJVHJvb3SAAagLDBsj
			JCUsLVUkbnVsbNcNDg8QERITFBUWFhYZGlYkY2xhc3NWZmFtaWx5
			XxARcGVyc29uYUlkZW50aWZpZXJfEBJhY3Rpdml0eUlkZW50aWZp
			ZXJXaW50ZW50MlRraW5kXxARZXh0ZW5zaW9uSWRlbnRpdHmABxAB
			gACAAIAAgAaAAtQcHR4NFiAhIl8QEGRldmljZUlkZW50aWZpZXJf
			EBljb250YWluZXJCdW5kbGVJZGVudGlmaWVyXxAZZXh0ZW5zaW9u
			QnVuZGxlSWRlbnRpZmllcoAAgASAA4AFXxAmY29tLmFwcGxlLmlD
			YWwuQ2FsZW5kYXJXaWRnZXRFeHRlbnNpb25eY29tLmFwcGxlLmlD
			YWzSJicoKVokY2xhc3NuYW1lWCRjbGFzc2VzXxAUQ0hTRXh0ZW5z
			aW9uSWRlbnRpdHmiKitfEBRDSFNFeHRlbnNpb25JZGVudGl0eVhO
			U09iamVjdF8QLGNvbS5hcHBsZS5DYWxlbmRhcldpZGdldC5DYWxl
			bmRhck1vbnRoV2lkZ2V00iYnLi9ZQ0hTV2lkZ2V0oi4rAAgAEQAa
			ACQAKQAyADcASQBMAFEAUwBcAGIAcQB4AH8AkwCoALAAtQDJAMsA
			zQDPANEA0wDVANcA4ADzAQ8BKwEtAS8BMQEzAVwBawFwAXsBhAGb
			AZ4BtQG+Ae0B8gH8AAAAAAAAAgEAAAAAAAAAMAAAAAAAAAAAAAAA
			AAAAAf8ACAANABIAGQBAAAAAAAAAAgEAAAAAAAAABQAAAAAAAAAA
			AAAAAAAAAsM=
			</data>
			<data>
			YnBsaXN0MDDSAQIDBFR1dWlkVndpZGdldF8QJEJCQUFBN0EyLUQz
			QzEtNENFNS1CODdDLTExN0Q5RDA1MENCN08RCvRicGxpc3QwMNQB
			AgMEBQYHClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0
			cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QgJVHJvb3SAAaoLDBsj
			JCUsMjM3VSRudWxs1w0ODxAREhMUFRYWGBkaViRjbGFzc1ZmYW1p
			bHlfEBFwZXJzb25hSWRlbnRpZmllcl8QEmFjdGl2aXR5SWRlbnRp
			ZmllcldpbnRlbnQyVGtpbmRfEBFleHRlbnNpb25JZGVudGl0eYAJ
			EAGAAIAAgAaABIAC1BwdHg0WGSEiXxAQZGV2aWNlSWRlbnRpZmll
			cl8QGWNvbnRhaW5lckJ1bmRsZUlkZW50aWZpZXJfEBlleHRlbnNp
			b25CdW5kbGVJZGVudGlmaWVygACABIADgAVfEBhjb20uYXBwbGUu
			d2VhdGhlci53aWRnZXRfEBFjb20uYXBwbGUud2VhdGhlctImJygp
			WiRjbGFzc25hbWVYJGNsYXNzZXNfEBRDSFNFeHRlbnNpb25JZGVu
			dGl0eaIqK18QFENIU0V4dGVuc2lvbklkZW50aXR5WE5TT2JqZWN0
			0y0uDS8wMVVpZGF0YVpzdGFibGVIYXNogAcTEeVUlhGUudKACE8R
			CDzkTV9pbmRleGluZ0hhc2gz0rmUEZZU5RFVcGFyYW1ldGVyQ29t
			YmluYXRpb25z0tLQ5FF0aXRsZUZvcm1hdFN0cmluZ1tTaG93IHdl
			YXRoZXIgaW4gTXkgTG9jYXRpb25WdGl0bGVGb3JtYXRTdHJpbmdM
			b2NJREZpVVdrQU1bc3VwcG9ydHNCYWNrZ3JvdW5kRXhlY3V0aW9u
			AVJfbG9jYWxpemF0aW9uVGFibGXiUGJ1bmRsZUlkZW50aWZpZXJY
			Y29tLmFwcGxlLndlYXRoZXIud2lkZ2V0SXRhYmxlTmFtZU5XZWF0
			aGVySW50ZW50c9LRSGxvY2F0aW9u5KNbU2hvdyB3ZWF0aGVyIGlu
			ICR7bG9jYXRpb259pUZkNEVIUEOnAajiqaqrrEppZGVudGlmaWVy
			YSQ2OEU0NUM2Qi00NzgzLTRCNkMtQURCNi01RERFM0I4Qzk0MzFM
			YmFja2luZ1N0b3Jl5EhkZXNjVHlwZQxFYnl0ZXORaioYCglsb2Nh
			bENpdHkSC015IExvY2F0aW9u+v8fTIIBBFZpZXdYARIRY29tLmFw
			cGxlLndlYXRoZXI6IGNvbS5hcHBsZS53ZWF0aGVyLldlYXRoZXJJ
			bnRlbnRzeAD4AeSXivWd0LmR5QFZX25vbk5pbFJlcGVhdGVkQXR0
			cmlidXRlc9BXY29kYWJsZURlc2NyaXB0aW9uQnl0ZXPvVmVsaWdp
			YmxlRm9yU3VnZ2VzdGlvbnMBVGRlc2NyaXB0aXZlVGV4dExvY0lE
			RjdVcFVaZU52ZXJzaW9uaW5nSGFzaDPki6LegeYi5V1yZWZlcmVu
			Y2VkQ29kYWJsZURlc2NyaXB0aW9uc9HSC+dLZGlzcGxheU5hbWVQ
			V2VhdGhlciBMb2NhdGlvbqjiqaqrrFlpbnRlbnREZWZpbml0aW9u
			TmFtZXNwYWNlRndudmM4cEljbGFzc05hbWVPV2VhdGhlckxvY2F0
			aW9uUGRpc3BsYXlOYW1lTG9jSURGUDNCRkpESHR5cGVOYW1lwSNK
			YXR0cmlidXRlc+cN50xwcm9wZXJ0eU5hbWVOc3VidGl0bGVTdHJp
			bmdFX3R5cGUKUnVuc3VwcG9ydGVkUmVhc29uc9BTZGlzcGxheVBy
			aW9yaXR5UmFuawdIbW9kaWZpZXIJTXByb21wdERpYWxvZ3PQRHR5
			cGUPCexWX2FycmF5U2l6ZXNCeVNpemVDbGFzc+BIbWV0YWRhdGHh
			RG5hbWVGU3RyaW5nSndpbmRvd1NpemUOwS7QwSvQwS8PwSiwwS0J
			wSwJTHJlbGF0aW9uc2hpcOBLX3R5cGVTdHJpbmfBM8EqCjBl7sEq
			DMEw4E1kaXNwbGF5TmFtZUlERmRXQ3dKTsEx4cEySVBsYWNlbWFy
			a8E0DsEu0MEr0MEoS2dlb2xvY2F0aW9uwS0JwSwNwTXgwTbBOr7B
			O8EmwToO58EoTGRpc3BsYXlJbWFnZcEqDMEr0MEsB8EtCcEu0MEm
			RUltYWdlCuzBMODBMeHBMsEzwTQOwS7QwSvQwS8PwShNZGlzcGxh
			eVN0cmluZ8EtCcEsCsE14ME2wTPBKgoL7MEw4MEx4cEywTPBNA7B
			LtDBK9DBLw/BKFFwcm9udW5jaWF0aW9uSGludMEtCcEsC8E14ME2
			wTPBKgoM68EoW2FsdGVybmF0aXZlU3BlYWthYmxlTWF0Y2hlc8Ew
			4ME2T1NwZWFrYWJsZVN0cmluZ8Er0MEsDMEqDMEu0ME14MEx4cEy
			wTPBNA7BJsFBRHZlcmJEVmlld8EiTVdlYXRoZXJJbnRlbnRMY29u
			ZmlndXJhYmxlAVJlbGlnaWJsZUZvcldpZGdldHMBT2Rlc2NyaXB0
			aXZlVGV4dGE+U2hvd3MgYW5kIGdldHMgdGhlIGN1cnJlbnQgd2Vh
			dGhlciBmb3IgdGhlIHNwZWNpZmllZCBsb2NhdGlvbi5KdGl0bGVM
			b2NJREZ4elp1TFpFdGl0bGVMU2hvdyBXZWF0aGVyqOKpqqusUV9r
			ZXlBdHRyaWJ1dGVOYW1lrUtlbnRpdHlWZXJic9DAwSHBJ+My//8A
			AOfBKElfbWV0YWRhdGHBKgzBK9DBLAfBLQnBLtDBJlNfSU5QQklu
			dGVudE1ldGFkYXRhDe9Sc3VwcG9ydHNSZXNvbHV0aW9uAcEqDcE4
			Rk51TkJTb8Ew4E5vYmplY3RUeXBlTmFtZcEjwTQOwUUBwS7S4kxm
			b3JtYXRTdHJpbmdOV2hhdCBsb2NhdGlvbj9OZm9ybWF0U3RyaW5n
			SURGdEZHcHIz4sFVYStFbnRlciBhIGNpdHksIHppcCBjb2RlLCBv
			ciBhaXJwb3J0IGxvY2F0aW9uwVdGazhpWUdrwSvQTnN1cHBvcnRz
			U2VhcmNoAcEorVpzdXBwb3J0c0R5bmFtaWNFbnVtZXJhdGlvbgHB
			LQlTb2JqZWN0VHlwZU5hbWVzcGFjZcEhwSwJwTXgwTZGT2JqZWN0
			vkhMb2NhdGlvbsEmwV4DGe7BKgzBMODBOEZsYmNOTmrBMeVQZmFs
			c2VEaXNwbGF5TmFtZUVmYWxzZVF0cnVlRGlzcGxheU5hbWVJREZN
			eFhuRFLBMkdCb29sZWFuUmZhbHNlRGlzcGxheU5hbWVJREZWVXg3
			NUZPdHJ1ZURpc3BsYXlOYW1lRHRydWXBNA7BLtDBK9DBKFNpc1By
			ZWRpY3RlZExvY2F0aW9uwS0JwSwKwTXgwTbBZb5VSXMgUHJlZGlj
			dGVkIExvY2F0aW9uwSbBZcEmR1dlYXRoZXJOaW50ZW50Q2F0ZWdv
			cnkJA9ImJzQ1XxASQ0hTSW50ZW50UmVmZXJlbmNlojYrXxASQ0hT
			SW50ZW50UmVmZXJlbmNl0iYnODlZQ0hTV2lkZ2V0ojgrAAgAEQAa
			ACQAKQAyADcASQBMAFEAUwBeAGQAcwB6AIEAlQCqALIAtwDLAM0A
			zwDRANMA1QDXANkA4gD1AREBLQEvATEBMwE1AVABZAFpAXQBfQGU
			AZcBrgG3Ab4BxAHPAdEB2gHcChwKIQo2CjkKTgpTCl0AAAAAAAAC
			AQAAAAAAAAA6AAAAAAAAAAAAAAAAAAAKYAAIAA0AEgAZAEAAAAAA
			AAACAQAAAAAAAAAFAAAAAAAAAAAAAAAAAAALOA==
			</data>
			<data>
			YnBsaXN0MDDSAQIDBFR1dWlkVndpZGdldF8QJDYwNENEMEJDLTg2
			MzgtNDhFMC04Njc4LTFDNUM4MTY0RUU2NE8RA6JicGxpc3QwMNQB
			AgMEBQYHClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0
			cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QgJVHJvb3SAAaoLDBsj
			JCUsMjM3VSRudWxs1w0ODxAREhMUFRYWGBkaViRjbGFzc1ZmYW1p
			bHlfEBFwZXJzb25hSWRlbnRpZmllcl8QEmFjdGl2aXR5SWRlbnRp
			ZmllcldpbnRlbnQyVGtpbmRfEBFleHRlbnNpb25JZGVudGl0eYAJ
			EAKAAIAAgAaAA4AC1BwdHg0WIBkiXxAQZGV2aWNlSWRlbnRpZmll
			cl8QGWNvbnRhaW5lckJ1bmRsZUlkZW50aWZpZXJfEBlleHRlbnNp
			b25CdW5kbGVJZGVudGlmaWVygACABIADgAVfECNjb20uYXBwbGUu
			UGhvdG9zLlBob3Rvc1JlbGl2ZVdpZGdldF8QEGNvbS5hcHBsZS5Q
			aG90b3PSJicoKVokY2xhc3NuYW1lWCRjbGFzc2VzXxAUQ0hTRXh0
			ZW5zaW9uSWRlbnRpdHmiKitfEBRDSFNFeHRlbnNpb25JZGVudGl0
			eVhOU09iamVjdNMtLg0vMDFVaWRhdGFac3RhYmxlSGFzaIAHE+8O
			3f+1Af8pgAhPEOHlSGxhdW5jaElkUGNvbS5hcHBsZS5QaG90b3NU
			c2VyaWFsaXplZFBhcmFtZXRlcnPiU2VuYWJsZVNwYXRpYWxFZmZl
			Y3QBWGFsd2F5c0Rpc3BsYXlJbkZ1bGxDb2xvcgJTYXBwSW50ZW50
			SWRlbnRpZmllcmEnUGhvdG9zUmVsaXZlV2lkZ2V0RmVhdHVyZWRD
			b25maWd1cmF0aW9uS2lzQXBwSW50ZW50AVFleHRlbnNpb25CdW5k
			bGVJZGEjY29tLmFwcGxlLlBob3Rvcy5QaG90b3NSZWxpdmVXaWRn
			ZXTSJic0NV8QEkNIU0ludGVudFJlZmVyZW5jZaI2K18QEkNIU0lu
			dGVudFJlZmVyZW5jZdImJzg5WUNIU1dpZGdldKI4KwAIABEAGgAk
			ACkAMgA3AEkATABRAFMAXgBkAHMAegCBAJUAqgCyALcAywDNAM8A
			0QDTANUA1wDZAOIA9QERAS0BLwExATMBNQFbAW4BcwF+AYcBngGh
			AbgBwQHIAc4B2QHbAeQB5gLKAs8C5ALnAvwDAQMLAAAAAAAAAgEA
			AAAAAAAAOgAAAAAAAAAAAAAAAAAAAw4ACAANABIAGQBAAAAAAAAA
			AgEAAAAAAAAABQAAAAAAAAAAAAAAAAAAA+Y=
			</data>
		</array>
		<key>vers</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
