<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hideShowAppShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EADSHR4fIFokY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QIERokKTI3SUxRU1pgbXuZ
		oKuzu72/wcPFx8nMztPe5/L1AAAAAAAAAQEAAAAAAAAAIgAAAAAAAAAAAAAA
		AAAAAP4=
		</data>
		<key>string</key>
		<string></string>
	</dict>
</dict>
</plist>
